@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img{
    width: 100%;
   height: 100%;
  }
  
  a{
    text-decoration: none;
    display: inline-block;
  }

.pf-limited-time-section{
    background-color: #000;
    margin: 55px 0;
    overflow: hidden;
    height: 75vh;
}
.pf-limited-time-section .pf-text-area .pf-head-text{
    color: #fff;
}

.pf-limited-time-section .pf-container .pf-row .pf-col-lg-7{
    margin-top: 5rem;
}
.pf-limited-time-section .pf-text-area .pf-shop-now-btn{
    text-transform: uppercase;
    background: #fff;
    color: #000;
    border-radius: 50px;
    padding: 20px 50px;
    margin-top: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
    transition: all linear .3s;
}
.pf-limited-time-section .pf-text-area .pf-shop-now-btn svg{
    position: absolute;
    left: 16px;
    top: 17px;
    border: 1px solid #000;
    border-radius: 50%;
    transition: all linear .3s;
}
.pf-limited-time-section .pf-text-area .pf-shop-now-btn{
    position: relative;
}

.pf-limited-time-section .pf-text-area .pf-shop-now-btn:hover svg{
    left: 142px;
    border-color: #000;
}

.pf-limited-time-section .pf-text-area .pf-shop-now-btn:hover svg path{
    fill: #000000
}


.pf-limited-time-section .pf-text-area .pf-shop-now-btn:hover{
    background: #DBE112;
    color: #000;
}

.pf-limited-time-section .pf-text-area .pf-head-text span{
    font-size: 75px;
    font-family: "Playfair Display", serif;
    color: #fff;
    font-weight: 400;
    font-style: italic;
}
.pf-limited-time-section .pf-text-area .pf-head-text{
    font-size: 75px;
    font-family: "Roboto", serif;
    color: #fff;
    font-weight: 700;
    margin-bottom: 35px;
}

.pf-limited-time-section .pf-count-down .pf-box{
    width: 120px;
    height: 120px;
    background: #DBE112;
    padding: 20px 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.pf-limited-time-section .pf-count-down{
    padding-bottom: 30px;
}

.pf-limited-time-section .pf-count-down .pf-box h4{
    font-size: 45px;
    font-family: "Roboto", serif;
    color: #000;
    font-weight: 700;
}
.pf-limited-time-section .pf-count-down {
    display: flex;
    gap: 5px;
}
.pf-limited-time-section .pf-count-down .pf-box p{
    font-size: 14px;
    font-family: "Roboto", serif;
    color: #000;
    font-weight: 400;
}

.pf-limited-time-section .pf-main-card-scroll-wrapper{
    height: 100%;
    overflow: hidden;
}

.pf-limited-time-section .pf-main-card-scroll-wrapper .pf-card-area{
    animation: top-to-bottom 35s linear;
    animation-iteration-count: infinite;
}

.pf-limited-time-section .pf-main-card-scroll-wrapper2 .pf-card-area{
    animation: bottom-to-top 35s linear;
    animation-iteration-count: infinite;
}

.pf-limited-time-section .pf-card-area a{
    display: block;
}

.pf-limited-time-section .pf-card-area .pf-main-card{
    background: #FFFFFF;
    border: 1px solid #eae6e4;
    border-radius: 15px;
    padding-bottom: 16px;
}

.pf-limited-time-section .pf-card-area .pf-main-card:nth-last-child(1){
    margin-right: 0;
}
.pf-limited-time-section .pf-card-area .pf-main-card img{
    border-radius: 15px 15px 0 0; 
}

.pf-limited-time-section .pf-card-area .pf-main-card .pf-product-title{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    font-family: "Roboto", sans-serif;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-top: 16px;
}
.pf-limited-time-section .pf-card-area .pf-main-card .pf-prduct-price{
    font-size: 14px;
    font-weight: 700;
    color: #000;
    font-family: "Roboto", sans-serif;
    padding-left: 20px;
}

.pf-limited-time-section .pf-card-area .pf-main-card {
    margin-bottom: 20px;
}


.pf-limited-time-section .pf-main-card-scroll-wrapper:hover .pf-card-area .pf-main-card{
   animation-play-state: paused; 
}

@keyframes top-to-bottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}


@keyframes bottom-to-top {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  

